<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  template="/template.xhtml">
	  
	  
	  <ui:define name="conteudo">
	  
	  		<p:panel header="Exportar Dados ">
	  		
	  			<h:form>
	  			
	  				
	  				<p:dataTable id="dtinformacao"
	  							 value="#{pessoaController.consultar()}"
	  						     var="pessoa"
	  						     emptyMessage="Nenhum pessoa cadastrada"
	  						     paginator="true" rows="10"
	  						     paginatorTemplate="{CurrentPageReport} 
	  						       					{FirstPageLink} 
	  						 						{PreviousPageLink}
	  						 					    {PageLinks}
	  						   						{NextPageLink}
	  						    					{LastPageLink} 
	  						    					{Exporters}">
	  						
	  					<f:facet name="{Exporters}">
	           				 <h:commandLink style="float:right">
	                			<p:graphicImage url="/demo/img/pdf.png" width="24"/>
	                			<p:dataExporter type="pdf" target="dtinformacao" fileName="Tabela de Dados" pageOnly="true"/>
	            			</h:commandLink>
	            			
	            			<h:commandLink style="float:right">
	                				<p:graphicImage url="/demo/img/excel.png" width="24"/>
	                				<p:dataExporter type="xls" target="dtinformacao" fileName="Tabela de Dados" pageOnly="true"/>
	           				 </h:commandLink>
	  					</f:facet>
	  					
	  					<p:column headerText="Nome" sortBy="#{pessoa.nome}">
	  						<f:facet name="Nome">
  								<h:outputText value= "Nome"/>
  							</f:facet>
  							<h:outputText value="#{pessoa.nome}" />
  						</p:column>
	  					
	  					
	  					<p:column headerText="Numero">	
	  						<f:facet name="Numero">
  								<h:outputText value= "Numero"/>
  							</f:facet>
  							<h:outputText value="#{pessoa.numero}" />
  						</p:column>
	  						
	  					<p:column headerText="Valor Multa">	
	  						<f:facet name="Valor Multa">
  								<h:outputText value= "Valor Multa"/>
  							</f:facet>
  							<h:outputText value="#{pessoa.multa}" />
  						</p:column>
  						
  						<p:column headerText="Vencimento" >	
		  						<f:facet name="Vencimento">
		  							<h:outputText value= "#{pessoa.data}">
		  								<f:convertDateTime pattern="dd.MM.yyyy"/>
		  							</h:outputText>
	  							</f:facet>
	  							<h:outputText value="#{pessoa.data}"> <f:convertDateTime pattern="dd.MM.yyyy"/> </h:outputText>
  						</p:column>

	  				</p:dataTable> 
	  				 
	  			</h:form>
	  			
	  		</p:panel>
	  		
	  </ui:define>
	  
</ui:composition>