<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  template="/template.xhtml">
	  
	  
	  <ui:define name="conteudo">
	  
	  		<p:panel header="Infrator">
	  		
	  			<h:form>
	  			
	  				<p:growl /> <!-- Mensagens  -->
	  				
	  				<h:inputHidden value="#{pessoaController.pessoa.idPessoa}" /> <!-- Não mostra para o usuário -->

	  				<h:panelGrid columns="2">
	  		
	  					<h:outputLabel value="Nome:"/>
	  					<p:inputText  value="#{pessoaController.pessoa.nome}"/>
	
	  					<h:outputLabel value="Telefone" />
       					<p:inputMask  value="#{pessoaController.pessoa.numero}" mask="(99) 99999-9999"/>
	  							
	  					<h:outputLabel value="Valor da Multa"/>
	  					<p:inputText value="#{pessoaController.pessoa.multa}" />
	  					
	  					<h:outputLabel value="Vencimento" />
      				    <p:calendar    value="#{pessoaController.pessoa.data}" />	
      				    
	  				</h:panelGrid>
	  				
	  				<br/>
	  				
	  				<p:commandButton value="Salvar" actionListener="#{pessoaController.salvar()}" update="@form" />
	  				
	  				<br/><br/>
	  				
	  				<p:dataTable id="dtinformacao"
	  							 value="#{pessoaController.consultar()}"
	  						     var="pessoa"
	  						     emptyMessage="Nenhum pessoa cadastrada"
	  						     paginator="true" rows="10"
	  						     paginatorTemplate="{CurrentPageReport} 
	  						       					{FirstPageLink} 
	  						 						{PreviousPageLink}
	  						 					    {PageLinks}
	  						   						{NextPageLink}
	  						    					{LastPageLink} 
	  						    					 ">
	  						
	  					<!-- <f:facet name="{Exporters}">
	           				 <h:commandLink style="float:right">
	                			<p:graphicImage url="/demo/img/pdf.png" width="24"/>
	                			<p:dataExporter type="pdf" target="dtinformacao" fileName="Tabela de Dados"/>
	            			</h:commandLink>
	            			
	            			<h:commandLink style="float:right">
	                				<p:graphicImage url="/demo/img/excel.png" width="24"/>
	                				<p:dataExporter type="xls" target="dtinformacao" fileName="Tabela de Dados" />
	           				 </h:commandLink>
	  					</f:facet>
	  					        -->
	  					
	  					<p:column headerText="Nome">
	  						<f:facet name="Nome">
  								<h:outputText value= "Nome"/>
  							</f:facet>
  							<h:outputText value="#{pessoa.nome}" />
  						</p:column>
	  					
	  					
	  					<p:column headerText="Numero">	
	  						<f:facet name="Numero">
  								<h:outputText value= "Numero"/>
  							</f:facet>
  							<h:outputText value="#{pessoa.numero}" />
  						</p:column>
	  						
	  					<p:column headerText="Valor Multa">	
	  						<f:facet name="Valor Multa">
  								<h:outputText value= "Valor Multa"/>
  							</f:facet>
  							<h:outputText value="#{pessoa.multa}" />
  						</p:column>
  						
  						<p:column headerText="Vencimento" >	
		  						<f:facet name="Vencimento">
		  							<h:outputText value= "#{pessoa.data}">
		  								<f:convertDateTime pattern="dd.MM.yyyy"/>
		  							</h:outputText>
	  							</f:facet>
	  							<h:outputText value="#{pessoa.data}"> <f:convertDateTime pattern="dd.MM.yyyy"/> </h:outputText>
  						</p:column>
	  						
	  						<p:column headerText="Editar">
	  							<p:commandButton 
	  								icon="ui-icon-pencil"
	  								actionListener="#{pessoaController.editar(pessoa)}"
	  								update="@form"
	  								process="@this"/>
	  						</p:column>
	  						
	  						<p:column headerText="Excluir">
	  							<p:commandButton 
	  								icon="ui-icon-close"
	  								actionListener="#{pessoaController.excluir(pessoa)}"
	  								update="@form"
	  								process="@this"/>
	  						</p:column>

	  				</p:dataTable> 
	  				 
	  			</h:form>
	  			
	  		</p:panel>
	  		
	  </ui:define>
	  
</ui:composition>