<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:ui="http://java.sun.com/jsf/facelets"
	 xmlns:p="http://primefaces.org/ui"
	 xmlns:h="http://java.sun.com/jsf/html"
	 xmlns:f="http://java.sun.com/jsf/core"
	 template="template.xhtml">
	 
	 
	 <ui:define name="conteudo">
	 	<br/>
	 	
	 	<br/>
	 	<h1 align="center"> SCM</h1>
	 	<h2 align="center"> Sistema de Cadastramento de Multa</h2>
	 	
	 	
	 </ui:define>
	 

</ui:composition>